<!DOCTYPE html>
<html>
<head>
  <title>Medicamentos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Medicamentos', todos_meds_path %> | <%= link_to 'Farmacias', pharmacies_path %>
<%= yield %>

</body>
</html>
